@include foundation-everything(true);
@import '~motion-ui/dist/motion-ui';
.mt_8{
  margin-top:8px;
}
.height_holder{height:39px;}
.fieldset {
  border: 1px solid #dddddd;
  padding: 1.25rem;
  margin: 0;
  legend,
  h5 {
    margin-bottom: 0;
  }
}
.router-link-active,
.router-link-active:hover,
.router-link-active:visited {
  color: $primary-color;
  cursor: default;
}
.time{
  font-size: 14px;
  color: #888;
}

.divider{
  border-top: solid 1px #b9b5b5;
  height: 1px;
  clear: both;
  width:100%;
}
.indent_2em{
  text-indent: 2em;
}
